.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  text-align: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* visited color for the top line menu */
.topnav:visited {
  color: #bfc20e;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav:link {
  float: left;
  color: #00ff00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav:hover {
  background-color: #999999;
  color: black;
}

/* Add a color to the active/current link */
.topnav.active {
  background-color: #04AA6D;
  color: white;
}

/* Input box stylings */
.input-style {
  margin: 5px;
  padding: 5px;
}

